* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-size: 18px;
}

@media only screen and (max-width: 1000px) {
	html{
		font-size: 14px;
	}
}

@media only screen and (max-width: 680px) {
	html{
		font-size: 10px;
	}
}

/*heder*/
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4.84rem;
	padding: 0 12%;
	background-color: white;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	font-family: Tangak, sans-serif;
	font-size: 0.67rem
}

.header .logo {
	font-size: 1.6rem;
	flex-grow:  1;
	color: #8edad6;
	text-transform: uppercase;
}

.header li {
	display: inline;
	padding-right: 2.22rem;
	text-transform: uppercase;
}

.header li a {
	font-size: 1.6rem;
	text-decoration: none;
	color: #4a4a4a;
}

.header li a:hover {
	opacity: 0.7;
}

@media only screen and (max-width: 550px) {
	.header {
		flex-direction:  column;
	}

	.header .logo {
		flex-grow: 0;
	}
}

/*banner*/
.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50rem;
	background: url("../img/fon.jpg") no-repeat center center;
	background-size: cover;
	color: #8edad6;
}

.banner h2 {
	padding: .55rem 0;
	border-top: 4px solid #8edad6;
	border-bottom: 4px solid #8edad6;
	font-size: 1.44rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.banner h1{
	padding-top: 1.11rem;
	font-size: 10rem;
	text-transform: uppercase;
	text-align: center;
}

@media only screen and (max-width: 750px) {
	.banner {
		height: 40rem;
	}

	.banner h1 {
		font-size: 8rem;
	}
}

@media only screen and (max-width: 530px) {
	.banner {
		height: 30rem;
	}

	.banner h1 {
		font-size: 6rem;
	}
}

/*контент*/
.resume {
	padding: 0 25% 4rem 25%;
	background-color: #8edad6;
	color: #4a4a4a;
}

.photo {
	width: 65%;
	padding: 1.11rem;
	border-radius: 5px;
	margin: 0 auto 4.44rem auto;
	background-color: white;
	text-align: center;
}

.image-container {
	overflow: hidden;
	margin-bottom: 1.11rem;
}

.photo .image-container img {
	width: 100%;
}

.photo .caption {
	font-style: italic;
}

.first {
	position: relative;
	top: -2.77rem;
	margin-bottom: 1.67rem;
}

.resume p {
	padding-bottom: 2.77rem;
	font-size: 1.5rem;
}

.resume .first-letter {
	float: left;
	padding-right: 1.4rem;
	font-family: Tangak, serif;
	font-size: 6.44rem;
	color: #10b0d8;
}

.vs {
	width: 100%;
	text-align: center;
}

.vs .photo {
	width: 37%;
	display: inline-block;
	padding: 1.11rem;
	margin: 0 auto 4.44rem auto;
}

@media only screen and (max-width: 680px) {
	.resume {
		padding: 0 10% 4rem 10%;
	}
}



/*footer*/
footer {
	display: flex;
	align-items: center;
	padding: 0 1%;
	background-color: #212121;
	z-index: -2;
}

footer .image-container {
	width: 400px;
}

footer img {
	width: 100%;
}

footer .content {
	flex-grow: 1;
	font-style: italic;
	color: #9b9b9b;
}

footer p {
	padding-bottom: 1.66rem;
}

footer p:last-child {
	padding-bottom: 0;
}

footer .author {
	color: #ffb78c;
}

@media only screen and (max-width: 750px) {
	footer {
		flex-direction: column;
		padding: 0 10% 2rem 10%;
	}

	footer .image-container {
		height: 300px;
		margin-bottom: 2rem;
		overflow: hidden;
	}
}

.Narnia {
	width: 45%;
}

ol {
	width: 50%;
	display: inline-block;
	padding: 0;
}

ol li {
	display: inline;
	list-style: none;
}

#li1 {
	color: red;
}

.knop {
	cursor: pointer;
}

.knop:hover {
	opacity: 0.7;
}

.photo .caption {
	font-style: italic;
	font-size: 1rem;
}


/*Кнопки соцсетей*/

.menu2 {

  list-style-type: none;
  padding: 0;
}
.menu2 li {
  display: inline-block;
  margin: 10px;
}
.menu2 li a {
  z-index: 1;
}
.menu2 li a i.fa {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  border-radius: 40px;
  color: #424242;
  position: relative;
  transition: all ease 0.2s;
  font-size: 30px;
  z-index: 2;
}
.menu2 li a i.fa::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 40px;
  background-color: #8edad6;
  font-size: 30px;
}
.menu2 li a i.fa:hover {
  color: #fff;
  font-size: 30px;
}
.menu2 li a i.fa:hover::after {
  animation: animate ease 0.6s forwards;
}
.menu2 li a i.fa-vk:hover::after {
  background-color: #3b5998;
}
.menu2 li a i.fa-telegram:hover::after {
  background-color: #00aced;
}
.menu2 li a i.fa-instagram:hover::after {
  background-color: #8a3ab9;
}
.menu2 li a i.fa-envelope-open:hover::after {
  background-color: #fa3f32;
}


@keyframes animate {
  0%,20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: #9E9E9E;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,100% {
    transform: scale(1);
    border-radius: 5px;
  }
}


#nomer a{
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: #9b9b9b;
}

#le{
  margin: 0;
  display: inline-block;

  text-align:right;
  color: #9b9b9b;
}

#nomer a:hover{
  color: brown;
}
